@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Raleway');

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body{
  background: #544F4A;
}

h1 {
  font-size: 44px;
  text-align: center;
  font-weight: 100;
  color: #A9A9A4;
}

.yellow{
  color: #EEDA76;
}

.blue{
  color: #39ABD9;
}
#container {
  height: 500px;
  width: 40%;
  margin: 0 auto;
  font-size: 140px;
  display: flex;
  flex-wrap: wrap;
}

.blocks  {
  height: 33.3333%;
  width: 33.3333%;
  text-align: center;
  border: 1px solid #A9A9A4;
}

.blocks:hover {
  cursor: pointer;
}

.reset-container {
  margin: 2rem;
}

#reset {
  background: #544F4A;
  border: 1px solid #A9A9A4;
  color: #A9A9A4;
  border-radius: 50px;
  width: 10em;
  font-size: 16px;
  cursor: pointer;
  padding: 1rem;
  margin: 0 auto;
  display: block;
}

#reset:hover {
  color: #EEDA76;
  opacity: .7;
  transition: .3s all;
  border-color: #EEDA76; 
}
